@import "tailwindcss";

@theme {
  --font-serif: "EB Garamond", serif;
  --font-sans: "Hanken Grotesk", sans-serif;
  --color-primary: #e0ded9;
  --color-muted: #bdc0c0;
  --color-accent: #D48C45;
  --color-accent-light: #f4b471;
  --color-base: #141412;
  --color-elevated: #1a1a18;
  --color-card: #252524;
  --color-hero: #0a0b0d;
}
