---

---

<header class="bg-[#1a1a18] grid grid-cols-3 p-4">
  <h1 class="text-2xl p-4 font-serif ">Los Canitos</h1>
  <nav class="flex gap-2 justify-self-center p-4">
    <a href="/">Inicio</a>
    <a href="/menu">Carta</a>
  </nav>
</header>
