---
const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";
const default_style =
  "text-primary hover:text-accent hover:scale-105 transition duration-300";
const is_active = "text-accent";
---

<header class="bg-elevated sticky top-0 z-10 sm:grid grid-cols-3 p-4 items-center">
  <h1 class="text-primary text-2xl p-4 font-serif text-center sm:text-start ">Los Canitos</h1>
  <nav class="hidden sm:flex gap-2 justify-self-center p-4">
    <a class={pathname === "/" ? is_active : default_style} href="/">Inicio</a>
    <a class={pathname === "/menu" ? is_active : default_style} href="/menu"
      >Carta</a
    >
  </nav>
</header>
