---

---

<section
  class="relative h-[80vh] max-h-200 w-full overflow-hidden flex flex-col justify-center bg-hero"
>
  <img
    class="absolute inset-y-0 left-1/2 -translate-x-1/2 w-full max-w-360 h-full object-cover
    mask-[linear-gradient(to_right,transparent,black_15%,black_85%,transparent)] [-webkit-mask-image:linear-gradient(to_right,transparent,black_15%,black_85%,transparent)]"
    src="/hero.png"
    alt="A close-up of a mouth-watering double cheeseburger featuring two thick beef patties, melted yellow cheese, and a layer of creamy white sauce on a shiny brioche bun against a dark background."
  />
  <div
    class="absolute inset-0 bg-linear-to-r from-black via-transparent via-60% to-black/40"
  >
  </div>
  <article class="flex flex-col relative justify-start max-w-xl gap-y-4 px-8">
    <span class="text-accent-light">Añover de tajo</span>
    <h1 class="font-bold leading-tight text-4xl font-serif text-primary">
      Tradición. <br />
      Fuego. <br />
      Pasión.
    </h1>
    <p class="text-muted">
      Descubre la fusión perfecta entre la herencia castellana y la cocina de
      autor. Especialistas en carnes maduradas y hamburguesas gourmet elaboradas
      con ingredientes locales de primera calidad.
    </p>
  </article>
</section>
